.profile_title{
  margin: auto;
  width: 17%;
  padding:20px;
  margin-top: 2%;
}
.profile_title svg{
    border-radius: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 392px;
    width: 250px;
    border: 2px solid black;
}
.profile_title img{
    border-radius: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 392px;
    width: 250px;
}
.profile_title h1{
    text-align: center;
}
.profile_control{
  margin: auto;
  width: 30%;
  padding:20px;
}
#profile-container {
  position: relative;
  width: auto;
}

#profile-container svg {
  width: 25%;
  height: auto;
}

#icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon {
  text-align: center;
}

.icon svg {
  width: 40px;
  height: 40px;
}

.icon p {
  font-size: 12px;
  margin-top: 5px;
}

