<div id="register-container">
  <div id="register-content">
    <h1>Register</h1>
    <form #userRegister = "ngForm" (ngSubmit)="onClickSubmit(userRegister.value)">
      <div id="name-container">
        <input class="input-field" name="firstname" type="text" placeholder="firstname" ngModel>
        <input class="input-field" name="lastname" type="text" placeholder="lastname" ngModel>
        <input style="width: 3rem;" class="input-field" name="age" type="number" placeholder="18" ngModel>
      </div>
      <input style="width: 92%; !important;" class="input-field" name="hobby" type="text" placeholder="hobby" ngModel>
      <input style="width: 92%; !important;" class="input-field" name="username" type="text" placeholder="username" ngModel>
      <input style="width: 92%; !important;" class="input-field" name="email" type="email" placeholder="email" ngModel>
      <input style="width: 92%; !important;" class="input-field" name="password" type="password" placeholder="password" ngModel>
      <button class="button" type="submit">Register</button>
    </form>
  </div>
</div>
