<div id="register-container">
  <div id="register-content">
    <h1>Register</h1>
    <form>
      <div id="name-container">
        <input class="input-field" type="text" placeholder="firstname">
        <input class="input-field" type="text" placeholder="lastname">
      </div>

        <input style="width: 92%; !important;" class="input-field" type="email" placeholder="example@example.com">
        <input style="width: 92%; !important;" class="input-field" type="password" placeholder="password">


      <button class="button">Register</button>
    </form>
  </div>
</div>
